<html>
    <head>
        <title>An Incident Timeline</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
        <style>
            html {
                display: table;
                margin: auto;
                font-family: 'Open Sans', sans-serif;
            }
            body {
                width: 90%;
                margin: autp;
                max-width: 800px; 
                display: table-cell;
                vertical-align: middle;
            }
            .header {
                padding: 0;
                margin: 0;
            }
            .slack-render {
                margin-top: 10px;
            }
            .slack-render p:first-child {
                margin-top: 4px;
            }

            .time-header, .name {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <h1>An Incident Timeline</h1>
        {% for message in messages %}
            <p class="header">
                <span class="time-header">{{message.datetime}}</span>
                <span>(since last {{render_delta(message.delta_from_last)}})</span>
                <span>(since start {{render_delta(message.delta_from_start)}})</span>
                <span class="name">@{{message.user.name}} ({{message.user.real_name_normalized}})</span>
            </p>
            <div class="slack-render">
                {{ render_slack(message.text) | safe }}
            </div>
            {% if message.files %}
                <table class="files">
                    <tr>
                    {% for file in message.files %}
                    <td>
                        {{ render_thumbnail(file) | safe }}
                    </td>
                    {% endfor %}
                    </tr>
                </table>
            {% endif %}
        {% endfor %}
    </body>
</html>